/* 

  Globals

*/

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

* {
  font-family: 'Poppins', sans-serif;
}

html, body {
  background-color: #FAFAFA;
  height: 100%;
}

.container-fluid {
  height: 100%;
}
/* 

  Headings

*/

#heading-section {
  padding-top: 2%;
  padding-bottom: 2%;
}

#heading-1 {
  font-weight: 200;
  color: hsl(234, 12%, 34%);
}

#heading-2 {
  font-weight: 600;
  color: hsl(234, 12%, 34%);
  font-size: 2.5rem;
}

#heading-3 {
  color: hsl(229, 6%, 66%);
  font-size: 1.3rem;
  margin-top: 2%;
}


/* 

  Cards

*/

.product-box {
  background-color: white;
  padding: 40px 15px;
  box-shadow: 5px 5px 15px hsl(229, 6%, 66%);
}

.icon-img {
  margin: 30px;
  width: 70px;
  float: right;

}

.product-heading {
  font-weight: 600;
  color: hsl(234, 12%, 34%);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.product-detail {
  font-weight: 200;
  color: hsl(234, 12%, 34%);
  padding-left: 20px;
  padding-right: 20px;
}

#supervisor {
  border-top: 5px solid hsl(180, 62%, 55%);
}

#teambuidler {
  border-top: 5px solid hsl(0, 78%, 62%);
}

#karma {
  border-top: 5px solid hsl(34, 97%, 64%);
}

#calculator {
  border-top: 5px solid hsl(212, 86%, 64%);
}

/* 

  Footer

*/
